.cardSize {
  width: 13.7rem;
  margin-top: 1rem;
  margin: 0 auto;
  background: none;
  border: none;
}
.cardTitle {
  font-size: 16px;
}

.imageCard {
  margin-top: 1rem;
  border-radius: 100rem;
}

.card-container {
  position: relative;
  right: 6rem;
  opacity: 0%;
  transition-property: right opacity;
  transition-timing-function: ease;
  transition-duration: 2s;
}

.card-container-active {
  right: 0rem;
  opacity: 100%;
}

@media (max-width: 700px) {
  .cardSize {
    width: 10rem;
  }
}
@media (min-width: 768px) {
  .cardSize {
    font-size: 18.4px;
  }
  .cardTitle {
    font-size: 21px;
  }
}
