.contactContainer {
  position: relative;
  opacity: 0%;
  bottom: 3rem;
  font-size: 28.5px;
  padding: 2rem 1rem 1rem;
  transition-property: bottom opacity;
  transition-timing-function: ease;
  transition-duration: 2s;
}
.contactContainer-active {
  bottom: 0rem;
  opacity: 100%;
}

.infoContactSoft {
  background: #ffe6b1;
  border: none;
  outline: none;
  color: black;
  border-radius: 10px;
  width: 100%;
}
.sendInfoButtonSoft {
  color: black;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  border-top: none;
  border-left: none;
  background: none;
  margin-top: 1rem;
}

.infoContactContrast {
  background-color: rgba(104, 104, 183, 0.443);
  border: none;
  outline: none;
  color: #00fffb;
  border-radius: 10px;
  width: 100%;
}
.sendInfoButtonContrast {
  color: #00fffb;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  border-top: none;
  border-left: none;
  background: none;
  margin-top: 1rem;
}
.infoContactHot {
  background-color: red;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  width: 100%;
}
.sendInfoButtonHot {
  color: black;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-top: none;
  border-left: none;
  background: none;
  margin-top: 1rem;
}
/* se puede modificar xd, si se, pero aun no */
.infoContactLigth {
  background-color: #b6d094;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
}
.sendInfoButtonLigth {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #b6d094;
  border-right: 1px solid #b6d094;
  border-top: none;
  border-left: none;
  background: none;
  margin-top: 1rem;
}

.infoContactDark {
  background: #2f2f2f;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  width: 100%;
}
.sendInfoButtonDark {
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: none;
  border-left: none;
  background: none;
  margin-top: 1rem;
}

@media (max-width: 389px) {
  .contactContainer {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  @media (min-height: 1368px) {
    .sendInfoButtonSoft {
      height: 4rem;
      width: 6rem;
      border-radius: 25%;
    }
    .sendInfoButtonDark {
      height: 4rem;
      width: 6rem;
      border-radius: 25%;
    }
    .sendInfoButtonHot {
      height: 4rem;
      width: 6rem;
      border-radius: 25%;
    }
    .sendInfoButtonLigth {
      height: 4rem;
      width: 6rem;
      border-radius: 25%;
    }
    .sendInfoButtonContrast {
      height: 4rem;
      width: 6rem;
      border-radius: 25%;
    }
  }
  .contactContainer {
    padding: 3rem;
  }
  .infoContactSoft {
    margin-bottom: 3rem;
    height: 5rem;
  }
  .infoContactContrast {
    margin-bottom: 3rem;
    height: 5rem;
  }
  .infoContactHot {
    margin-bottom: 3rem;
    height: 5rem;
  }
  .infoContactLigth {
    margin-bottom: 3rem;
    height: 5rem;
  }
  .infoContactDark {
    margin-bottom: 3rem;
    height: 5rem;
  }
  .messageContact {
    height: 15rem;
  }
}

@media (min-height: 1024px) {
}
