#writeMe {
  height: 100%;
  width: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.contactHot {
  color: black;
}

.contacContrast {
  color: #00fffb;
}
.contactLigth {
  color: #b6d094;
}
.contactDark {
  color: white;
}
@media (min-width: 768px) {
  #writeMe {
    font-size: 30px;
  }

  .footerContainer {
    font-size: 35px;
    margin-top: 4.5rem;
  }
  .direction {
    font-size: 35px;
  }
  @media (min-height: 1368px) {
    #writeMe {
      font-size: 50px;
    }
  }
}
