.mainViewContainer {
  font-size: 13.7px;
  z-index: -2;
  text-align: center;
  padding-right: 7rem;
  opacity: 0%;
  transition-property: padding opacity;
  transition-timing-function: ease;
  transition-duration: 2s;
  margin-bottom: 1.5rem;
}

.mainViewContainer-active {
  padding: 4rem 3rem 0;
  opacity: 100%;
}

.text-mainView {
  padding: 1rem;
  width: 100%;

  position: relative;
  top: 10%;
}

.imgSize-2 {
  height: 6rem;
  position: relative;
  left: 50rem;
  opacity: 0%;

  transition: left ease 2s;
}

.imgSize-2-active {
  left: 0rem;
  opacity: 100%;
}

@media (min-width: 768px) {
  .mainViewContainer-active {
    /* padding: 0 7rem; */
    font-size: 18.4px;
    padding: 6rem 6rem 0;
  }
  .text-mainView {
    top: 16%;
  }

  .imgSize-2 {
    height: 10rem;
    z-index: 0;
  }
}
