.NavbarContainerSoft {
  --bs-bg-opacity: none;
  background-color: #ecce8eaa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbarThemeSoft {
  background-color: #ecce8e69;
  height: 100%;
  width: 100%;
}
.NavbarItemsSoft {
  color: #5C4033;
}
#themeSoft {
  color: #32908f;
}

.NavbarContainerContrast {
 
  background-color: rgba(104, 104, 183, 0.511);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsContrast {
  color: #00fffb;
}
#themeContrast {
  color: #00fffb;
}

.NavbarContainerHot {

  --bs-bg-opacity: none;
  background-color: rgba(255, 0, 0, 0.772);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsHot {
  color: yellow;
}
#themeHot {
  color: white;
}

/* veldAD XD */
/* solo por si, bootstrao y react bootstrapson tecnicamente lo mismo xd, solo que adpatado a react xd..... ¿que oarte de codigo es la queerias ver? */
.NavbarContainerLigth {
 

  background-color: #b6d094ab;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsLigth {
  color: black;
}
#themeLigth {
  color: black;
}

.NavbarContainerDark {
  
  background-color: #2f2f2fb1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsDark {
  color: white;
}
#themeDark {
  color: white;
}
@media(max-width:991px){
  .bottonTranslator{
    position: relative;
    bottom: 10px;
  }
}

.front, .back {
    width: 100%;
    height: 100%;
    
    /* Crucial: Oculta el reverso del elemento para que no se vea a través */
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden; /* Para compatibilidad de navegadores */

    /* Estilos de presentación, puedes ajustar */
    
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    color: white;
}

/* Estilos específicos para la cara frontal */
.front {
    z-index: 2; /* Asegura que esté por encima de la parte trasera inicialmente */
}
.back {
    /* Este transform inicial es CRUCIAL:
       Mueve la cara trasera 180 grados en el eje Y para que quede
       "detrás" de la cara frontal desde el principio. */
    transform: rotateY(180deg); 
}

/* Estilos específicos para la cara trasera */

.containerFlipper{
    /* Necesario para que el flipper se posicione relativamente */
    position: relative; 
    cursor: pointer;
    perspective: 100px;

}
.buttonTranslator{
   transition: transform ease-in-out 0.6s; /* Duración y tipo de animación */
   transform-style: preserve-3d;

    position: relative; /* Para posicionar las caras */
}
.toggle-language {
    transform: rotateY(180deg); /* Giro de 180 grados en el eje Y (horizontal) */
}

@media (height >= 768px){
  .itemNav{
   align-items: end;
   justify-content: end;
  }
}