.NavbarContainerSoft {
  --bs-bg-opacity: none;
  background-color: #ecce8eaa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbarThemeSoft {
  background-color: #ecce8e69;
  height: 100%;
  width: 100%;
}
.NavbarItemsSoft {
  color: #32908f;
}
#themeSoft {
  color: #32908f;
}

.NavbarContainerContrast {
 
  background-color: rgba(104, 104, 183, 0.511);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsContrast {
  color: #00fffb;
}
#themeContrast {
  color: #00fffb;
}

.NavbarContainerHot {

  --bs-bg-opacity: none;
  background-color: rgba(255, 0, 0, 0.772);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsHot {
  color: yellow;
}
#themeHot {
  color: white;
}

/* veldAD XD */
/* solo por si, bootstrao y react bootstrapson tecnicamente lo mismo xd, solo que adpatado a react xd..... ¿que oarte de codigo es la queerias ver? */
.NavbarContainerLigth {
 

  background-color: #b6d094ab;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsLigth {
  color: black;
}
#themeLigth {
  color: black;
}

.NavbarContainerDark {
  
  background-color: #2f2f2fb1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.NavbarItemsDark {
  color: white;
}
#themeDark {
  color: white;
}
