.appContainerSoft {
  background-color: #b6d094;
  color: #32908f;
  align-items: center;
}

.appContainerContrast {
  background-color: black;
  color: #00fffb;
}

.appContainerHot {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 175) 30%,
    rgb(255, 206, 114) 100%
  );

  color: black;
}

.appContainerLigth {
  background-color: white;
  color: black;
}

.appContainerDark {
  background-color: #1e1e1e;
  color: white;
}

.btn-ctn {
  right: 0;
  position: fixed;
  top: 30%;
  z-index: 1000;
}

.themes {
  position: absolute;
  z-index:1;
  top: 0.4rem;
  left: 0.5rem;
  opacity: 65%;
  transition-property: top left;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.themes-active {
  top: var(--t);
  left: var(--l);
}

.portfolio {
  position: relative;
  right: 6rem;
  opacity: 0%;
  transition-property: right opacity;
  transition-timing-function: ease;
  transition-duration: 2s;
}

.portfolio-active {
  padding: 0 2.6rem;
  right: 0rem;
  opacity: 100%;
  display: flex;
  flex-direction: column;
}

.buttonIdea {
  position: relative;
  right: 0;
  z-index: 3;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 4rem;
  width: 4rem;
  transition-property: border-radius right;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.button-active {
  border-radius: 2rem;
  right: 0.5rem;
  opacity: 65%;
}

.sizeOptions {
  height: 3.2rem;
  width: 3rem;
  border-radius: 100%;
}

/* @media (min-width: 768px) {
  .sizeOptions {
    height: 3.2rem;
    width: 3rem;
  }
  .buttonIdea {
    height: 4rem;
    width: 4rem;
  }
  @media (max-height: 800px) {
    .buttonIdea {
      height: 4rem;
      width: 4rem;
      top: 27.5%;
      right: 2%;
    }
    .one {
      top: 16%;
      right: 2.5%;
    }
    .two {
      top: 21%;
      right: 8%;
    }
    .three {
      top: 29.4%;
      right: 11%;
    }
    .four {
      top: 37.8%;
      right: 8%;
    }
    .five {
      top: 43%;
      right: 2.5%;
    }
    .sizeOptions {
      height: 2.8rem;
      width: 3rem;
    }
  }
} */
@media (width: 1024px) {
  .portfolio {
    height: 100%;
  }
  .portfolio-active{
    padding: 0 6rem;
  }
}
